<?xml version="1.0" encoding="iso-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml">
		<head>
			<!-- template designed by Marco Von Ballmoos  -->
			<title></title>
			<link rel="stylesheet" href="media/stylesheet.css" />
											</head>
		<body>
						<a name="top"></a>
<h2>[Geometry] element index</h2>
	<h3>Package indexes</h3>
	<ul>
				<li><a href="elementindex_Text.html">Text</a></li>
					<li><a href="elementindex_Color.html">Color</a></li>
					<li><a href="elementindex_FileParser.html">FileParser</a></li>
					<li><a href="elementindex_Fonts.html">Fonts</a></li>
					<li><a href="elementindex_Graphics.html">Graphics</a></li>
					<li><a href="elementindex_Pdf.html">Pdf</a></li>
					</ul>
<a href="elementindex.html">All elements</a>
<br />
<div class="index-letter-menu">
	<a class="index-letter" href="elementindex_Geometry.html#c">c</a>
	<a class="index-letter" href="elementindex_Geometry.html#d">d</a>
	<a class="index-letter" href="elementindex_Geometry.html#f">f</a>
	<a class="index-letter" href="elementindex_Geometry.html#g">g</a>
	<a class="index-letter" href="elementindex_Geometry.html#h">h</a>
	<a class="index-letter" href="elementindex_Geometry.html#i">i</a>
	<a class="index-letter" href="elementindex_Geometry.html#m">m</a>
	<a class="index-letter" href="elementindex_Geometry.html#o">o</a>
	<a class="index-letter" href="elementindex_Geometry.html#p">p</a>
	<a class="index-letter" href="elementindex_Geometry.html#r">r</a>
	<a class="index-letter" href="elementindex_Geometry.html#s">s</a>
	<a class="index-letter" href="elementindex_Geometry.html#w">w</a>
	<a class="index-letter" href="elementindex_Geometry.html#x">x</a>
	<a class="index-letter" href="elementindex_Geometry.html#y">y</a>
	<a class="index-letter" href="elementindex_Geometry.html#_">_</a>
</div>

	<a name="_"></a>
	<div class="index-letter-section">
		<div style="float: left" class="index-letter-title">_</div>
		<div style="float: right"><a href="#top">top</a></div>
		<div style="clear: both"></div>
	</div>
	<dl>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">__clone</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Rect.html#method__clone">RE_Rect::__clone()</a> in Rect.php</div>
							<div class="index-item-description">Returns a copy of the rect.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Constructor.png" alt="Method" title="Method" /></title>
			<span class="method-title">__construct</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Size.html#method__construct">RE_Size::__construct()</a> in Size.php</div>
							<div class="index-item-description">Object constructor signatures:</div>
					</dd>
			<dt class="field">
						<img src="media/images/Constructor.png" alt="Method" title="Method" /></title>
			<span class="method-title">__construct</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Point.html#method__construct">RE_Point::__construct()</a> in Point.php</div>
							<div class="index-item-description">Object constructor signatures:</div>
					</dd>
			<dt class="field">
						<img src="media/images/Constructor.png" alt="Method" title="Method" /></title>
			<span class="method-title">__construct</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Rect.html#method__construct">RE_Rect::__construct()</a> in Rect.php</div>
							<div class="index-item-description">Object constructor signatures:</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">__toString</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Size.html#method__toString">RE_Size::__toString()</a> in Size.php</div>
							<div class="index-item-description">Returns the width and height as a string of the form &quot;{w, h}&quot;.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">__toString</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Rect.html#method__toString">RE_Rect::__toString()</a> in Rect.php</div>
							<div class="index-item-description">Returns the rect's coordinates as a string of the form &quot;{{x, y}, {w, h}}&quot;.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">__toString</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Point.html#method__toString">RE_Point::__toString()</a> in Point.php</div>
							<div class="index-item-description">Returns the coordinates as a string of the form &quot;{x, y}&quot;.</div>
					</dd>
		</dl>
	<a name="c"></a>
	<div class="index-letter-section">
		<div style="float: left" class="index-letter-title">c</div>
		<div style="float: right"><a href="#top">top</a></div>
		<div style="clear: both"></div>
	</div>
	<dl>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">containsPoint</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Rect.html#methodcontainsPoint">RE_Rect::containsPoint()</a> in Rect.php</div>
							<div class="index-item-description">Returns true if the specified point lies anywhere within the rect's  bounds.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">containsRect</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Rect.html#methodcontainsRect">RE_Rect::containsRect()</a> in Rect.php</div>
							<div class="index-item-description">Returns true if the specified rect is completely contained within this  rect's bounds.</div>
					</dd>
		</dl>
	<a name="d"></a>
	<div class="index-letter-section">
		<div style="float: left" class="index-letter-title">d</div>
		<div style="float: right"><a href="#top">top</a></div>
		<div style="clear: both"></div>
	</div>
	<dl>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">distanceToPoint</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Point.html#methoddistanceToPoint">RE_Point::distanceToPoint()</a> in Point.php</div>
							<div class="index-item-description">Calculates and returns the distance between the specified point and this  point.</div>
					</dd>
		</dl>
	<a name="f"></a>
	<div class="index-letter-section">
		<div style="float: left" class="index-letter-title">f</div>
		<div style="float: right"><a href="#top">top</a></div>
		<div style="clear: both"></div>
	</div>
	<dl>
			<dt class="field">
						<img src="media/images/Class Constant.png" alt="Class Constant" title="Class Constant" /></title>
			FLOAT_COMPARISON_PRECISION
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Size.html#constFLOAT_COMPARISON_PRECISION">RE_Size::FLOAT_COMPARISON_PRECISION</a> in Size.php</div>
							<div class="index-item-description">Precision for comparing equality of float values.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Class Constant.png" alt="Class Constant" title="Class Constant" /></title>
			FLOAT_COMPARISON_PRECISION
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Point.html#constFLOAT_COMPARISON_PRECISION">RE_Point::FLOAT_COMPARISON_PRECISION</a> in Point.php</div>
							<div class="index-item-description">Precision for comparing equality of float values.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">fromString</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Size.html#methodfromString">RE_Size::fromString()</a> in Size.php</div>
							<div class="index-item-description">Returns a new RE_Size object from the string representation,  usually formatted as &quot;{w, h}&quot;.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">fromString</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Rect.html#methodfromString">RE_Rect::fromString()</a> in Rect.php</div>
							<div class="index-item-description">Returns a new RE_Rect object from the string representation, usually  formatted as &quot;{{x, y}, {w, h}}&quot;.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">fromString</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Point.html#methodfromString">RE_Point::fromString()</a> in Point.php</div>
							<div class="index-item-description">Returns a new RE_Point object from the string representation,  usually formatted as &quot;{x, y}&quot;.</div>
					</dd>
		</dl>
	<a name="g"></a>
	<div class="index-letter-section">
		<div style="float: left" class="index-letter-title">g</div>
		<div style="float: right"><a href="#top">top</a></div>
		<div style="clear: both"></div>
	</div>
	<dl>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">getHeight</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Rect.html#methodgetHeight">RE_Rect::getHeight()</a> in Rect.php</div>
							<div class="index-item-description">Returns the height of the rect.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">getHeight</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Size.html#methodgetHeight">RE_Size::getHeight()</a> in Size.php</div>
							<div class="index-item-description">Returns the height.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">getOrigin</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Rect.html#methodgetOrigin">RE_Rect::getOrigin()</a> in Rect.php</div>
							<div class="index-item-description">Returns the origin.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">getSize</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Rect.html#methodgetSize">RE_Rect::getSize()</a> in Rect.php</div>
							<div class="index-item-description">Returns the size of the rect.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">getWidth</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Rect.html#methodgetWidth">RE_Rect::getWidth()</a> in Rect.php</div>
							<div class="index-item-description">Returns the width of the rect.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">getWidth</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Size.html#methodgetWidth">RE_Size::getWidth()</a> in Size.php</div>
							<div class="index-item-description">Returns the width.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">getX</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Rect.html#methodgetX">RE_Rect::getX()</a> in Rect.php</div>
							<div class="index-item-description">Returns the horizontal (x) coordinate of the origin.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">getX</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Point.html#methodgetX">RE_Point::getX()</a> in Point.php</div>
							<div class="index-item-description">Returns the x (horizontal) coordinate value.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">getY</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Point.html#methodgetY">RE_Point::getY()</a> in Point.php</div>
							<div class="index-item-description">Returns the y (vertical) coordinate value.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">getY</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Rect.html#methodgetY">RE_Rect::getY()</a> in Rect.php</div>
							<div class="index-item-description">Returns the vertical (y) coordinate of the origin.</div>
					</dd>
		</dl>
	<a name="h"></a>
	<div class="index-letter-section">
		<div style="float: left" class="index-letter-title">h</div>
		<div style="float: right"><a href="#top">top</a></div>
		<div style="clear: both"></div>
	</div>
	<dl>
			<dt class="field">
						<img src="media/images/Variable.png" alt="Variable" title="Variable" /></title>
			<span class="var-title">$height</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Size.html#var$height">RE_Size::$height</a> in Size.php</div>
							<div class="index-item-description">Stores the height dimension.</div>
					</dd>
		</dl>
	<a name="i"></a>
	<div class="index-letter-section">
		<div style="float: left" class="index-letter-title">i</div>
		<div style="float: right"><a href="#top">top</a></div>
		<div style="clear: both"></div>
	</div>
	<dl>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">inRect</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Point.html#methodinRect">RE_Point::inRect()</a> in Point.php</div>
							<div class="index-item-description">Returns true if this point lies anywhere within the specified rect's  bounds.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">intersectsRect</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Rect.html#methodintersectsRect">RE_Rect::intersectsRect()</a> in Rect.php</div>
							<div class="index-item-description">Returns true if the specified rect intersects with this rect.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">isEmpty</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Size.html#methodisEmpty">RE_Size::isEmpty()</a> in Size.php</div>
							<div class="index-item-description">Returns true if either the width or height dimension is less than or  equal to zero.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">isEmpty</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Rect.html#methodisEmpty">RE_Rect::isEmpty()</a> in Rect.php</div>
							<div class="index-item-description">Returns true if the rect is empty, meaning it has a height or width  less than or equal to zero.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">isEqualToPoint</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Point.html#methodisEqualToPoint">RE_Point::isEqualToPoint()</a> in Point.php</div>
							<div class="index-item-description">Returns true if the specified point has identical coordinates to  this point.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">isEqualToRect</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Rect.html#methodisEqualToRect">RE_Rect::isEqualToRect()</a> in Rect.php</div>
							<div class="index-item-description">Returns true if the specified rect has the same origin and size as  this rect.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">isEqualToSize</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Size.html#methodisEqualToSize">RE_Size::isEqualToSize()</a> in Size.php</div>
							<div class="index-item-description">Returns true if the specified size is equal in width and height to  this size.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">isOrigin</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Point.html#methodisOrigin">RE_Point::isOrigin()</a> in Point.php</div>
							<div class="index-item-description">Returns true if the point is at the origin {0, 0}.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">isSubrectOfRect</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Rect.html#methodisSubrectOfRect">RE_Rect::isSubrectOfRect()</a> in Rect.php</div>
							<div class="index-item-description">Returns true if this rect is completely contained within the specified  rect's bounds.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">isZeroPoint</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Point.html#methodisZeroPoint">RE_Point::isZeroPoint()</a> in Point.php</div>
							<div class="index-item-description">Alias for isOrigin()</div>
					</dd>
		</dl>
	<a name="m"></a>
	<div class="index-letter-section">
		<div style="float: left" class="index-letter-title">m</div>
		<div style="float: right"><a href="#top">top</a></div>
		<div style="clear: both"></div>
	</div>
	<dl>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">maxX</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Rect.html#methodmaxX">RE_Rect::maxX()</a> in Rect.php</div>
							<div class="index-item-description">Returns the maximum horizontal (x) coordinate of the rect.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">maxY</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Rect.html#methodmaxY">RE_Rect::maxY()</a> in Rect.php</div>
							<div class="index-item-description">Returns the maximum vertical (y) coordinate of the rect.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">midX</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Rect.html#methodmidX">RE_Rect::midX()</a> in Rect.php</div>
							<div class="index-item-description">Returns the horizontal (x) coordinate at the midpoint of the rect.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">midY</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Rect.html#methodmidY">RE_Rect::midY()</a> in Rect.php</div>
							<div class="index-item-description">Returns the vertical (y) coordinate at the midpoint of the rect.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">minX</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Rect.html#methodminX">RE_Rect::minX()</a> in Rect.php</div>
							<div class="index-item-description">Returns the minimum horizontal (x) coordinate of the rect.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">minY</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Rect.html#methodminY">RE_Rect::minY()</a> in Rect.php</div>
							<div class="index-item-description">Returns the minimum vertical (y) coordinate of the rect.</div>
					</dd>
		</dl>
	<a name="o"></a>
	<div class="index-letter-section">
		<div style="float: left" class="index-letter-title">o</div>
		<div style="float: right"><a href="#top">top</a></div>
		<div style="clear: both"></div>
	</div>
	<dl>
			<dt class="field">
						<img src="media/images/Variable.png" alt="Variable" title="Variable" /></title>
			<span class="var-title">$origin</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Rect.html#var$origin">RE_Rect::$origin</a> in Rect.php</div>
							<div class="index-item-description">The <a href="Geometry/RE_Point.html">RE_Point</a> object that stores the rect's origin.</div>
					</dd>
		</dl>
	<a name="p"></a>
	<div class="index-letter-section">
		<div style="float: left" class="index-letter-title">p</div>
		<div style="float: right"><a href="#top">top</a></div>
		<div style="clear: both"></div>
	</div>
	<dl>
			<dt class="field">
						<img src="media/images/Page.png" alt="Page" title="Page" /></title>
			<span class="include-title">Point.php</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/_Point.php.html">Point.php</a> in Point.php</div>
					</dd>
		</dl>
	<a name="r"></a>
	<div class="index-letter-section">
		<div style="float: left" class="index-letter-title">r</div>
		<div style="float: right"><a href="#top">top</a></div>
		<div style="clear: both"></div>
	</div>
	<dl>
			<dt class="field">
						<img src="media/images/Page.png" alt="Page" title="Page" /></title>
			<span class="include-title">Rect.php</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/_Rect.php.html">Rect.php</a> in Rect.php</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">rectByInsettingRect</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Rect.html#methodrectByInsettingRect">RE_Rect::rectByInsettingRect()</a> in Rect.php</div>
							<div class="index-item-description">Returns a new rect object that is inset horizontally and vertically from  this rect by the specified amounts.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">rectByIntersectingRect</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Rect.html#methodrectByIntersectingRect">RE_Rect::rectByIntersectingRect()</a> in Rect.php</div>
							<div class="index-item-description">Returns a new rect object that is the result of the intersection between  this rect and the specified rect.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">rectByMakingIntegral</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Rect.html#methodrectByMakingIntegral">RE_Rect::rectByMakingIntegral()</a> in Rect.php</div>
							<div class="index-item-description">Returns a new rect object whose origin coordinates are the result of  rounding this rect's origin coordinates down to the nearest integer and  whose size is the result of rounding this rect's size up to the nearest  integer.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">rectByOffsettingRect</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Rect.html#methodrectByOffsettingRect">RE_Rect::rectByOffsettingRect()</a> in Rect.php</div>
							<div class="index-item-description">Returns a new rect whose offset has been shifted horizontally and  vertically from this rect by the specified amounts. The rect's size  remains the same.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">rectByUnioningRect</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Rect.html#methodrectByUnioningRect">RE_Rect::rectByUnioningRect()</a> in Rect.php</div>
							<div class="index-item-description">Returns a new rect that completely encloses this rect and and the  specified rect.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Class.png" alt="Class" title="Class" /></title>
			RE_Point
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Point.html">RE_Point</a> in Point.php</div>
							<div class="index-item-description">Represents a location in a two dimensional coordinate system.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Class.png" alt="Class" title="Class" /></title>
			RE_Rect
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Rect.html">RE_Rect</a> in Rect.php</div>
							<div class="index-item-description">Represents a rectangle.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Class.png" alt="Class" title="Class" /></title>
			RE_Size
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Size.html">RE_Size</a> in Size.php</div>
							<div class="index-item-description">Represents a size in two dimensions: width and height.</div>
					</dd>
		</dl>
	<a name="s"></a>
	<div class="index-letter-section">
		<div style="float: left" class="index-letter-title">s</div>
		<div style="float: right"><a href="#top">top</a></div>
		<div style="clear: both"></div>
	</div>
	<dl>
			<dt class="field">
						<img src="media/images/Variable.png" alt="Variable" title="Variable" /></title>
			<span class="var-title">$size</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Rect.html#var$size">RE_Rect::$size</a> in Rect.php</div>
							<div class="index-item-description">The <a href="Geometry/RE_Size.html">RE_Size</a> object that stores the rect's width and height.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">setHeight</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Rect.html#methodsetHeight">RE_Rect::setHeight()</a> in Rect.php</div>
							<div class="index-item-description">Sets the height of the rect.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">setHeight</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Size.html#methodsetHeight">RE_Size::setHeight()</a> in Size.php</div>
							<div class="index-item-description">Sets the height.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">setOrigin</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Rect.html#methodsetOrigin">RE_Rect::setOrigin()</a> in Rect.php</div>
							<div class="index-item-description">Sets the origin.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">setSize</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Rect.html#methodsetSize">RE_Rect::setSize()</a> in Rect.php</div>
							<div class="index-item-description">Sets the size of the rect.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">setWidth</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Size.html#methodsetWidth">RE_Size::setWidth()</a> in Size.php</div>
							<div class="index-item-description">Sets the width.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">setWidth</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Rect.html#methodsetWidth">RE_Rect::setWidth()</a> in Rect.php</div>
							<div class="index-item-description">Sets the width of the rect.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">setX</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Point.html#methodsetX">RE_Point::setX()</a> in Point.php</div>
							<div class="index-item-description">Sets the horizontal (x) coordinate value.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">setX</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Rect.html#methodsetX">RE_Rect::setX()</a> in Rect.php</div>
							<div class="index-item-description">Sets the horizontal (x) coordinate of the origin.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">setY</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Point.html#methodsetY">RE_Point::setY()</a> in Point.php</div>
							<div class="index-item-description">Sets the vertical (y) coordinate value.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Method.png" alt="Method" title="Method" /></title>
			<span class="method-title">setY</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Rect.html#methodsetY">RE_Rect::setY()</a> in Rect.php</div>
							<div class="index-item-description">Sets the vertical (y) coordinate of the origin.</div>
					</dd>
			<dt class="field">
						<img src="media/images/Page.png" alt="Page" title="Page" /></title>
			<span class="include-title">Size.php</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/_Size.php.html">Size.php</a> in Size.php</div>
					</dd>
		</dl>
	<a name="w"></a>
	<div class="index-letter-section">
		<div style="float: left" class="index-letter-title">w</div>
		<div style="float: right"><a href="#top">top</a></div>
		<div style="clear: both"></div>
	</div>
	<dl>
			<dt class="field">
						<img src="media/images/Variable.png" alt="Variable" title="Variable" /></title>
			<span class="var-title">$width</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Size.html#var$width">RE_Size::$width</a> in Size.php</div>
							<div class="index-item-description">Stores the width dimension.</div>
					</dd>
		</dl>
	<a name="x"></a>
	<div class="index-letter-section">
		<div style="float: left" class="index-letter-title">x</div>
		<div style="float: right"><a href="#top">top</a></div>
		<div style="clear: both"></div>
	</div>
	<dl>
			<dt class="field">
						<img src="media/images/Variable.png" alt="Variable" title="Variable" /></title>
			<span class="var-title">$x</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Point.html#var$x">RE_Point::$x</a> in Point.php</div>
							<div class="index-item-description">Stores the horizontal (x) coordinate value.</div>
					</dd>
		</dl>
	<a name="y"></a>
	<div class="index-letter-section">
		<div style="float: left" class="index-letter-title">y</div>
		<div style="float: right"><a href="#top">top</a></div>
		<div style="clear: both"></div>
	</div>
	<dl>
			<dt class="field">
						<img src="media/images/Variable.png" alt="Variable" title="Variable" /></title>
			<span class="var-title">$y</span>
					</dt>
		<dd class="index-item-body">
			<div class="index-item-details"><a href="Geometry/RE_Point.html#var$y">RE_Point::$y</a> in Point.php</div>
							<div class="index-item-description">Stores the vertical (y) coordinate value.</div>
					</dd>
		</dl>

<div class="index-letter-menu">
	<a class="index-letter" href="elementindex_Geometry.html#c">c</a>
	<a class="index-letter" href="elementindex_Geometry.html#d">d</a>
	<a class="index-letter" href="elementindex_Geometry.html#f">f</a>
	<a class="index-letter" href="elementindex_Geometry.html#g">g</a>
	<a class="index-letter" href="elementindex_Geometry.html#h">h</a>
	<a class="index-letter" href="elementindex_Geometry.html#i">i</a>
	<a class="index-letter" href="elementindex_Geometry.html#m">m</a>
	<a class="index-letter" href="elementindex_Geometry.html#o">o</a>
	<a class="index-letter" href="elementindex_Geometry.html#p">p</a>
	<a class="index-letter" href="elementindex_Geometry.html#r">r</a>
	<a class="index-letter" href="elementindex_Geometry.html#s">s</a>
	<a class="index-letter" href="elementindex_Geometry.html#w">w</a>
	<a class="index-letter" href="elementindex_Geometry.html#x">x</a>
	<a class="index-letter" href="elementindex_Geometry.html#y">y</a>
	<a class="index-letter" href="elementindex_Geometry.html#_">_</a>
</div>	</body>
</html>